/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body and Typography */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: #22577A;
}
footer {
    position: static
    ;
    bottom: 0;
    width: 100%;
  }
  footer a{
    text-decoration: none;
}

