body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #57CC99;
}

.contact-form {
    background-color: #fbf4f4;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact-form label {
    display: block;
    margin: 10px 0 5px;
    color: #57CC99;
    font-weight: 600;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #c2c6c2;
    border-radius: 5px;
    font-size: 16px;
}

.contact-form input:active,
.contact-form textarea:active {
    border: 2px solid #86e0b9;
}

.contact-form input:hover,
.contact-form textarea:hover {
    border: 2px solid #86e0b9;
}

.contact-form input,
.contact-form textarea {
    transition: border 0.3s ease;
}

.contact-form button {
    background-color: #57CC99;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.contact-form button:hover {
    background-color: #86e0b9;
}

.contact-info {
    text-align: center;
    margin-top: 30px;
}

.contact-info p {
    font-size: 16px;
    color: #333;
}

.contact-info a {
    color: #1ab2ef;
    text-decoration: none;
}

footer {
    position: static;
    bottom: 0;
    width: 100%;
}

footer a { 
    text-decoration: none;
}