body {
    font-family: Arial, sans-serif;
    background-color: transparent;
    margin: 0;
    padding: 0;

}
/* navbar */

.navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.navbar-light .navbar-brand {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  color: #fff;
}

.navbar-light .navbar-brand:hover {
  color: #fff;
}

.container, .container-fluid {
  width: 100%;
  padding-right: 25px;
  padding-left: 25px;
}

.nav-item a:hover {
  background-color: #80ed99;
  border-radius: 20px;
  transition: background-color 0.3s ease, border-radius 0.3s ease;
}

/* Optional: Custom styling for the dropdown menu */
.dropdown-menu {
  background-color: #fff;
  color: #22577a;
}

.dropdown-item:hover {
  background-color: #80ed99;
  color: #22577a;
}


/* contact form  */
.con1{
    background-image: url(https://images.pexels.com/photos/1209978/pexels-photo-1209978.jpeg?cs=srgb&dl=pexels-galerieb-1209978.jpg&fm=jpg);

    background-size: cover;

}
.container {
    width: 40%;
    margin: 0 auto;
    padding: 20px;
   
}

.container h1 {
    text-align: center;
    color: #333;
    font-weight: 700;
}

.contact-form {
    background-color: transparent;
    /* opacity: 0.4; */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    background: transparent;

}

.contact-form label {
    display: block;
    margin: 10px 0 5px;
    color: #000000;
    font-weight: 600;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #333;
    border-radius: 5px;
    font-size: 16px;
    background: transparent;

}

.contact-form input:active,
.contact-form textarea:active {
    border: 4px solid #000000;
}

.contact-form input:hover,
.contact-form textarea:hover {
    border: 2px solid  #2e72f1;
}

.contact-form input,
.contact-form textarea {
    transition: border 0.3s ease;
}

.contact-form button {
    background-color: #2e72f1;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.contact-form button:hover {
    background-color:  #5588e6;
}

.contact-info {
    text-align: center;
    margin-top: 30px;
}

.contact-info p {
    font-size: 16px;
    color: #333;
}

.contact-info a {
    color: #1ab2ef;
    text-decoration: none;
}

footer {
    position: static;
    bottom: 0;
    width: 100%;
}

footer a { 
    text-decoration: none;
}

.map{
    justify-content: center;
}