*{
margin: 0px;
padding: 0px;
}
.parkHeadingTwo{
  color: #22577A;
}

.parallax-section {
  background-image: url('HomePageImages/disclamer.jpg'); /* Replace with your scenic image */
  height: 70vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.parallax-content {
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent overlay */
  padding: 40px;
  border-radius: 12px;
  max-width: 80%;
}

.parallax-content h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
}

.parallax-content p {
  font-size: 1.2rem;
  color: #e0f7fa;
}

.parallax-info-section {
  background-color: #f0fff4;
}
 

