*{
margin: 0px;
padding: 0px;
}
.parkHeadingTwo{
  color: #22577A;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.navbar-light .navbar-brand {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  color: #fff;
}

.navbar-light .navbar-brand:hover {
  color: #fff;
}

.container, .container-fluid {
  width: 100%;
  padding-right: 25px;
  padding-left: 25px;
}

.nav-item a:hover {
  background-color: #80ed99;
  border-radius: 20px;
  transition: background-color 0.3s ease-in-out, border-radius 0.3s ease-in-out;
}

/* Optional: Custom styling for the dropdown menu */
.dropdown-menu {
  background-color: #fff;
  color: #22577a;
}

.dropdown-item:hover {
  background-color: #80ed99;
  color: #22577a;
}
.parallax-section {
  background-image: url('HomePageImages/disclamer.jpg'); /* Replace with your scenic image */
  height: 70vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.parallax-content {
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent overlay */
  padding: 40px;
  border-radius: 12px;
  max-width: 80%;
}

.parallax-content h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
}

.parallax-content p {
  font-size: 1.2rem;
  color: #e0f7fa;
}

.parallax-info-section {
  background-color: #f0fff4;
}
 

footer a{
  text-decoration: none;
}